@using static STZ.Frontend.Configuration.RazorAssemblyConfiguration
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="@GetAssembliesWithRazorPages()">
        <Found Context="routeData">
            <STZRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p><STZText Key="Login.Authorizing" /></p>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLoginIfNotAuthenticated/>
                </NotAuthorized>
            </STZRouteView>
        </Found>
        <NotFound>
            <p>Página no encontrada.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
